@charset "utf-8";
/* 为百科准备的CSS样式表 */
html{
	padding: 1em;
}
div,p{
	font-family: 'Times New Roman',Serif;
	letter-spacing: 1px;
	line-height: 120%;
}
span.changer{
	border-style: solid;
	border-width: 1px;
}